html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Montserrat;
    font-style: normal;
}

footer {
    flex: 0 0 auto;
}
/*footer logo*/
.footer-logo{
    background: url("img/logo_white.png");
    width: 201px;
    height: 40px;
}
.logo-vk{
    list-style-image: url("./img/vk.png") !important;
}
.logo-inst{
    list-style: outside url("./img/inst.png")!important;
}
.logo-facebook{
    list-style: outside url("./img/facebook.png")!important;
}

.footer-up {
    background: #212121;
    height: 311px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 90px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-weight: bold;
    font-size: 10px!important;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 20rem;
}
.footer-row{
    display: flex!important;
    justify-content: center;
}

.footer-ul {
    padding: 0;
    display:flex;
    flex-direction: column;
    list-style: none;
}

.footer-li {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4!important;
}
.left-footer-block{
    margin-right: 10%;
}
.footer-li a {
    text-decoration: none;
    color: #CBCFD4!important;
}

.footer-copyright {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
    margin-bottom: 103px;
    margin-top: 150px;

}

.model-img {
    width: 205px;
    height: 211px;
    background: url("./img/Rectangle 2.png") no-repeat;
}
.model-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.model-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 300px;

    position: relative;
    padding: 5px;
}
.model-block:before{
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-left:2px solid #D7B399;
    border-right:2px solid #D7B399;
    content: " ";
}
.model-block:after{
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-left:2px solid #D7B399;
    border-right:2px solid #D7B399;
    content: " ";
}
.model-block :first-child:before{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20px;
    border-top: 2px solid #D7B399;
    border-bottom: 2px solid #D7B399;
    content: " ";
}
.model-block :first-child:after{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 20px;
    border-top: 2px solid #D7B399;
    border-bottom: 2px solid #D7B399;
    content: " ";
}
.sales-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-watch-all {
    background: #D7B399;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 240px;
    height: 55px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    border: none;
    margin-top: 40px;
}

.row {
    margin: auto;
}

input[type='text'] {
    height: 40px;
    width: 255px;
    padding-left:10px;
}

.button-all-models {
    width: 220px;
    height: 55px;
    border: none;
    margin-top:60px;
    background: #D7B399;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.button-subscribe {
    height: 40px;
    width: 185px;
    border: none;
    background: #D7B399;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales-block {
    background: #212121;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin: 90px 0;
}
.sales-content{
    display: flex;
    justify-content: space-around;
}

/*header*/
.header{
    height: 700px;
    background: #F9F6F1;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*menu*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0 70px 0;
}
.logo{
    background: url("./img/logo.png") no-repeat;
    width: 201px;
    height: 40px;
}
a{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: black!important;
}
a:hover{
    text-decoration: none!important;
}
li{
    margin-right: 20px;
}
.basket{
    background: url("./img/first-screen__basket.png") no-repeat;
    width: 91px;
    height: 30px;
}
.nav-tabs{
    border:none!important;
}
.ul-header{
    list-style: none;
    display: flex;
    flex-direction: row;
}
/*carousel*/
.carousel-indicators{
    top: 480px!important;

}

.carousel-indicators .active{
    background-color: #D7B399!important;
}
.carousel-indicators li{
    width: 40px!important;
    height: 7px!important;
    margin-right: 5px!important;
    margin-left: 5px!important;
    background-color: #CECECE!important;
}
.carousel-tovar{
    background: #F9F6F1;
    width: 556px;
    height: 377px;
}
.carousel-img{
    background: url("img/running_shoes_PNG5823 (1).png") no-repeat;
    width: 556px;
    height: 377px;
}
.carousel-price{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0;
}
.old-price{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
}
.new-price{
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D84033;
}
.carousel-block{
    display: flex!important;
    flex-direction: row;
}
.carousel-block-text{
    display: flex;
    flex-direction: column;
}
.title-text-sale{
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #000000;
}
.carousel-block-text{
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    color: #000000;
}
/*black-banner*/
.black-banner{
    height: 235px;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.free-delivery{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.free-delivery-price{
    font-weight: normal!important;
    margin-left: 10px;
}
.black-banner-text{
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}
/*men/women*/
.categories{
    height: 250px;
    display: flex;
}
.categories-men{
    background: #F9F6F1 ;
    height: 250px;
    display:flex;
}
.categories-men-img{
    background: url("./img/Rectangle 3.png") no-repeat;
    width: 190px;
    height: 171px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.categories-women-img{
    background: url("./img/Rectangle 3.1.png") no-repeat;
    width: 190px;
    height: 171px;
    position: absolute;
    bottom: 0px;
    left: 48%;
}
.categories-women{
    background: #F4F4F4;
    height: 250px;
    display:flex;
}
.categories-men-block-text{
    display: flex;
    flex-direction: column;
    margin:auto;
}
.categories-women-block-text{
    display: flex;
    flex-direction: column;
    margin: auto 15px;
}
.categories-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #000000;
}
.categories-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 20px 0;
}
.categories-button{
    width:80px;
    height:30px;
    background: #D7B399;
    border: none;
}
.categories-button img{
    display: flex;
    margin: auto;
}
/**/

.t-shirt{
    background: url("./img/Rectangle 3.png") no-repeat;
}
.blue-background{
    background: #F4F4F4;
}
.pink-background{
    background: #F9F6F1;
}
.ul-soc{
    padding: 0 23px;
}

.catalog-img{
 margin-left: 55px;

    width: 278px;
    height: 236px;
    background: url("./img/item.png") no-repeat;
}

