* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.title {
    margin: 1% 0 1% 0;
}

.isInvalid {
    border: 1px solid #dd0000;
}
.isValid {
    border: 1px solid forestgreen;
}
.error-feedback {
    color: #dd0000;
    margin-top: 5px;
}
.btn {
    height: 40px;
    width: 100px;  
    margin-top: 2%;
}
#login,
#mail,
#password,
#repassword {
    height: 40px;
}